h1 {
	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	text-align: center;
}

.black {
	font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
	color: #000000;
	/*text-shadow: 2px 2px #FFFFFF;*/
}

.white {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	color: #66CCFF;
	/*text-shadow: 2px 2px #000000;*/
}

td.highlight {
	border-style: solid;
	border-color: #FFFF66;
	border-width: 3pt;
}

td {
	width: 75px;
	height: 75px;
	background-color: white;
	border-style: solid;
	border-color: #000000;
	border-width: 1pt;
	font-size: 20pt;

}

td.black {
	background-color: #808080;
}


table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

button.start {
	font-size: 12pt;
	text-align: center;
	padding: 5px;
}
