h1 {
	font-family: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', Georgia, serif;
	text-align: center;
}

.black {
	font-family: 'Rockwell Extra Bold', 'Rockwell Bold', monospace;
	font-size: 15pt;
	color: #000000;
	text-shadow: 2px 2px #FFFFFF;
}

.white {
	font-family: Copperplate, 'Copperplate Gothic Light', fantasy;
	font-size: 15pt;
	color: #66CCFF;
	text-shadow: 2px 2px #000000;
}

td.highlight {
	border-style: solid;
	border-color: #FFFF66;
	border-width: 4em;
	background: #66FF33;
	opacity: 75%;
}

td {
	width: 10%;
	height: 10%;
}

td.black {
	background-color: #808080;
}

td.white {
	background-color: white;
}

table {
	border-style: solid;
	border-width: 1em;
	border-color: #000000
	margin-left: auto;
	margin-right: auto;
}

button.start {
	font-size: 12em;
	text-align: center;
	padding: 5em;
}
